@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap');
main img{
    width: 200px;
    height: 200px;
    margin:20px 60px;
}

.correct{
    
    margin:30px auto;
    border-radius: 4%;
    background-color: #80C644;
    padding: 20px;
    width: 500px;
    height: 700px;
}

.btn{
    margin-top: 10px;
    width: 100px;
    height: 60px;
    background-color: #FFD823;
}
p{
    font-family: 'Original Surfer', cursive;
    font-weight: 900px;
    font-size: 20px;
    margin-bottom: 10px;
    border: 2px solid black;
    padding: 20px;
}
.btn-grid{
    margin-left: 60px;
}
/* .retake-btn{
    visibility: hidden;
} */